## <center>  Exploratory data analysis.
In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset.
Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd
import numpy as np

In [2]:
adults = pd.read_csv("C:\\Users\\34609\\Documents\\Repos Git\\Data\\adult.data.csv")
adults.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
adults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
adults["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age of women?**

In [6]:
round(adults[adults["sex"]=="Female"]["age"].mean(), 1)

36.9

In [7]:
round(adults.groupby('sex')["age"].mean(), 1) #using groupby

sex
Female    36.9
Male      39.4
Name: age, dtype: float64

**3. What is the percentage of German citizens, native-country feature?**

In [13]:
adults[adults["native-country"] == "Germany"]["native-country"].count()

137

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year and those who earn less than 50K per year? **

In [15]:
#First we found out how many categories are in the "salary" variable
adults["salary"].unique()

array(['<=50K', '>50K'], dtype=object)

In [19]:
#For those with salary <=50K
age_aver = adults[adults["salary"] == "<=50K"]["age"].mean()
age_sd = adults[adults["salary"] == "<=50K"]["age"].std()
print("The average and standar deviation for those who earn <=50K are ", round(age_aver, 2), "& ", round(age_sd, 2), "respectively.")

The average and standar deviation for those who earn <=50K are  36.78 &  14.02 respectively.

In [20]:
#For those with salary >50K
age_aver = adults[adults["salary"] == ">50K"]["age"].mean()
age_sd = adults[adults["salary"] == ">50K"]["age"].std()
print("The average and standar deviation for those who earn >50K are ", round(age_aver, 2), "& ", round(age_sd, 2), "respectively.")

The average and standar deviation for those who earn >50K are  44.25 &  10.52 respectively.

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [21]:
adults.loc[adults["salary"] == ">50K"]["education"].value_counts() #It's false because with that conditions there is people from all the educational status

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Display age statistics for each race and each gender. Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [28]:
adults.groupby(["race", "sex"])["age"].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [40]:
married = ["Married-civ-spouse", "Married-spouse-absent", "Married-AF-spouse"]
single = ["Never-married", "Divorced", "Separated", "Widowed"]
adults[(adults["salary"] == ">50K") & (adults["sex"] == "Male")]["marital-status"].value_counts()

Married-civ-spouse       5938
Never-married             325
Divorced                  284
Separated                  49
Widowed                    39
Married-spouse-absent      23
Married-AF-spouse           4
Name: marital-status, dtype: int64

In [46]:
single = ((325 + 284 + 49 + 39)/adults[(adults["salary"] == ">50K") & (adults["sex"] == "Male")]["marital-status"].count()) * 100
married = ((5938 + 23 + 4)/adults[(adults["salary"] == ">50K") & (adults["sex"] == "Male")]["marital-status"].count()) * 100 
print("Single men represent the ", round(single, 2), "% while married men are the other ", round(married, 2), "%.")

Single men represent the  10.46 % while married men are the other  89.54 %.

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [65]:
max_hour = adults["hours-per-week"].max()
num_maxhour = adults[adults["hours-per-week"] == max_hour]["marital-status"].count()
max_hour_salary = adults[(adults["salary"] == ">50K") & (adults["hours-per-week"] == max_hour)]["marital-status"].count()
print("The percentage among them that earns >50K is ", round((max_hour_salary / num_maxhour) * 100, 2), "%.")

#We use the "marital-status" as a filter even tough is not needed to obtain a single number instead of a DF

The percentage among them that earns >50K is  29.41 %.

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*).

In [73]:
country_salary = round(adults.groupby(["salary", "native-country"])["hours-per-week"].mean(), 2)
country_salary

salary  native-country
<=50K   ?                  40.16
        Cambodia           41.42
        Canada             37.91
        China              37.38
        Columbia           38.68
                           ...
>50K    Thailand           58.33
        Trinadad&Tobago    40.00
        United-States      45.51
        Vietnam            39.20
        Yugoslavia         49.50
Name: hours-per-week, Length: 82, dtype: float64